@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

.FlashcardArrayContainer {
    text-align: center;

}
.title_grade {
    width: 700px;
    max-width: 100%;
    margin: 1em auto;
    padding-right: 0.2em;
    text-align: right;
    color: gray;
}

.FlashcardWrapper__item--content h1 {
    font-size: 4em;
}

.FlashcardWrapper__item--content p {
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
}
.FlashcardWrapper__item--content {
    background-color: rgba(147, 112, 219, 0.2);

}

@media (max-width: 768px) {
    .FlashcardWrapper  {
        width: 100%; /* Full width for smaller displays */
        max-width: none; /* Override max-width for smaller screens */
    }
}